@import url(https://db.onlinewebfonts.com/c/1f5f55b3d3aec10f3a0de0287a6bfc65?family=Chalk+cyrillic+freehand);
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  box-sizing: border-box;
  font-family: "Chalk cyrillic freehand";
}

